body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 12px;

  background-color: #ffe0e4;
  color: #252525;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h5 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.row {
  /* width: 100%; */
  padding: 4px;
}

input[type="file"] {
  display: none;
}

.btn,
button {
  font-family: "Open Sans", sans-serif;
  color: #252525;
  font-size: 14px;
  background-color: rgb(0 0 0 / 0%);
  border: 2px solid #252525;
  border-radius: 4px;
  padding: 4px 14px;
  cursor: pointer;
}

table {
  border-spacing: 0;
  border: 1px solid #ddd;
}

table tr td {
  margin: 0 auto;
  break-inside: avoid;
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 17px;
}

.preco {
  font-size: 20px;
  font-weight: 700;
}

.previa {
  overflow: auto;
  box-sizing: border-box;
  border: 2px solid #ddd;
  padding: 4mm;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 10cm;
  height: 15cm;
}

@media print {
  body {
    width: 100%;
    background-color: #ffffff !important;
  }

  table {
    margin: 0 auto;
    border: none;
  }

  table tr td {
    border: none;
    break-inside: avoid;
  }
}
